

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- ... autres balises head ... -->
  </head>

 <div class="six" >
	<h1 *transloco="let t"> {{ t("details.title") }} <br/> {{tasks.hits.hits[0]._source.timestamp | date :'dd/MM/yyyy'}}
	  <span>{{id}}</span>
	</h1>
  </div>

<div style=" margin-left: auto; margin-right: auto; display: flex;">
	<app-filter (filterRadioButtonSelectedChanged)="onfilterRadioChanged($event)"></app-filter>
	<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

</div>



 <table class="blue" style="width: 90%; overflow-x:auto; margin-right: auto; margin-left: auto; overflow-y: auto; margin-top: 10px; margin-bottom: 50px;">
	<thead>

	  <tr>
		<th scope="col">level</th>
		<th scope="col">TransactionCode</th>
		<th scope="col">desc</th>
		<th scope="col">{{id}}</th>
		<th scope="col">Seuil</th>
		<th>Details</th>

	  </tr>
	</thead>
	<tbody>

		<ng-container *ngFor="let task of tasks.hits.hits ">
			<tr *ngIf="( (compteRenduRadioButton === 'All') || task._source.level.toLowerCase().includes(compteRenduRadioButton.toLowerCase()))">
			<td scope="row" [ngClass]="{
				'text-success ': task._source.level==='OK',
				'text-danger': task._source.level==='Critical',
			'text-warning': task._source.level==='Warning'}">
			{{task._source.level}}</td>
			<td *ngIf="task?.property !== null">{{task._source.tcode}}</td>
			<td >{{task._source.desc}}</td>
			<td>{{task._source.value}}</td>
			<td>{{task._source.threshold}}</td>
			<td>
			  <button type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEditForm" (click)="showDetails(task)">
				details {{task._source.tcode}}
			  </button>
		</td>
		  </tr>
		</ng-container>
	</tbody>
  </table>

  <div class="container">
    <div class="modal fade" id="modalEditForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" style="color: #33bc41;" *transloco="let t"> {{ t("details.modal_details") }} {{selectedTask?._source.tcode}}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true"></span>
					</button>
				  </div>
				  <div class="modal-body">
					<p> {{selectedTask?._source.DETAILS}}</p>

				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" *transloco="let t"> {{ t("details.modal_button") }}</button>
				  </div>
            </div>
        </div>
    </div>
</div>


<!--
"details":{
	"title":"OPERATING REPORT",
	"niveau": "Choose a level",
	"modal_details":"Transaction details",
	"modal_button": "Close"
  }-->
