<app-admin-dashboard></app-admin-dashboard>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="text-center">
    <button style="width: 50%; margin-top: 50px;" type="button" data-toggle="modal" data-target="#modalLoginForm" class="btn btn-dark">
        ajouter un nouveau utilisateur <i class="fa fa-solid fa-user-plus" style="color: rgba(255, 111, 0, 0.829); width: 50px;"></i>
    </button>
</div>
<table class="styled-table" style="width: 80%; margin-right: 200px;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>modifier</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td *ngIf="user.role==0">Utilisateur</td>
            <td *ngIf="user.role==1">Administrateur</td>
            <td><button class="btn btn-primary" data-toggle="modal" data-target="#modalEditForm" (click)="editUser(user)">Modifier</button></td>
            <td *ngIf="user.active==0"><button class="btn btn-danger" (click)="deleteUser(user.id)">Supprimer</button></td>
            <td *ngIf="user.active==1"><button class="btn btn-secondary" (click)="activeUser(user.id)">Activer</button></td>
        </tr>
    </tbody>
</table>

<div class="container">
    <div class="modal fade" id="modalEditForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form (ngSubmit)="onSubmit()">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Modifier un utilisateur</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="form-group">
                            <label for="username">Identifiant</label>
                            <input type="email" id="username" class="form-control" [(ngModel)]="selectedUser.username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="name">Nom d'utilisateur</label>
                            <input type="text" id="name" class="form-control" [(ngModel)]="selectedUser.name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="role">Rôle</label>
                            <select class="form-control" id="role" [(ngModel)]="selectedUser.role" name="role">
                                <option value="0">Utilisateur</option>
                                <option value="1">Administrateur</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-warning">Modifier</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-header {
        background: #33bc41;
    }
</style>
