


<!--******************************la table qui affiche la liste de sauvgarde************************************************-->

<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <div class="six">
	<h1>Liste des derniers sauvegardes <br/> {{backups.hits.hits[0]._source.timestamp | date :'shortDate'}}
	  <span>{{id}}</span>
	</h1>
</div>
<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

 <table class="blue" style="width: 90%; overflow-x:auto; margin-right: auto; margin-left: auto; overflow-y: auto; margin-top: 10px;">
	<thead>
	  <tr>
		<th>SID </th>
		<th>SYS_START_TIME </th>
		<th>SYS_END_TIME</th>
		<th>ENTRY_TYPE_NAME</th>
		<th>STATE_NAME</th>
		<th>Type</th>

	  </tr>
	</thead>
	<tbody>
		<ng-container *ngFor="let backup of backups.hits.hits ">
	  <tr  *ngIf="searchText === '' || backup._source.sid.toLowerCase().includes(searchText.toLowerCase()) || backup._source.state_name.toLowerCase().includes(searchText.toLowerCase()) || backup._source.entry_type_name.toLowerCase().includes(searchText.toLowerCase())">
        <td>{{backup._source.sid}}</td>
		<td>{{backup._source.sys_start_time }}</td>
		<td>{{backup._source.sys_end_time }}</td>
		<td>{{backup._source.entry_type_name}}</td>
		<td  [ngClass]="{
			'text-success': backup._source.state_name==='successful',
			'text-danger': backup._source.state_name==='failed',
			'text-warning': backup._source.state_name==='running'}">{{backup._source.state_name}}</td>
			<td>{{backup._source.type}}</td>
	  </tr>

	</ng-container>

	</tbody>
  </table>
