
 <table class="blue" style="margin-bottom: 500px;" >
	<thead>
	  <tr>
		<th scope="col">sid</th>
		<th scope="col">level</th>
		<th scope="col">Tcode</th>
		<th scope="col">Description</th>
		<th scope="col">EP1</th>
		<th scope="col">Seuil</th>
	  </tr>
	</thead>
	<tbody>
		<tr *ngFor="let task of tasks.hits.hits ">
			<td >{{task._source.sid}}</td>
			<th scope="row" [ngClass]="{
				'text-success': task._source.level==='OK',
				'text-danger': task._source.level==='Critical',
			'text-warning': task._source.level==='Warning'}">{{task._source.level}}</th>

				<td >{{task._source.tcode}}</td>
			<td >{{task._source.desc}}</td>
			<td>{{task._source.value}}</td>
			<td>{{task._source.threshold}}</td>

		  </tr>








	</tbody>
  </table>
  <div style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 50px;">
	<canvas id="canvas"></canvas>
</div>
